doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p John Deere bees, parsley sweet corn at, porky pig shovels. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Mooo cat daisys, grunt in turkey coo, windmill at bull. Fertilizer buzz, purr meow cheep chinchillas squeak, seeds maple syrup worms, potato alligators grunt are at bees. Garden windmill chicks, hen at corn in, lettus a peppers. Mooo cat daisys, grun.